.footer {
    background-color: var(--body-color-sd);
}
.footer__container{
    padding: 2rem 0 2rem;
}
.footer__copy {
    display: block;
    color: var(--text-color-sd);
    text-align: center;
    font-size: var(--smaller-font-size);
}